<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Add the public NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- If you need the Azure DevOps feed, uncomment and configure with proper credentials
    <add key="fitbank" value="https://pkgs.dev.azure.com/fitbank/d3cf5213-5493-4696-b832-b11318d2a72d/_packaging/32549bc7-ce86-43fa-b011-fa11871ddaab/nuget/v3/index.json" />
    -->
  </packageSources>
</configuration>
